# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Environment (dev/production)
NODE_ENV="dev-or-prod"
NEXT_PUBLIC_SOCKET_URL="socket-server-url"

SOCKET_ADMIN_SECRET="secret-key"
REVALIDATE_SECRET="secret-key"

# Postgres (Neon)
DATABASE_URL="db-url-connection-string"

# Authentication
NEXTAUTH_SECRET="secret-key"
AUTH_SECRET="secret-key"

AUTH_TRUST_HOST="boolean-true/false"

KAKAO_CLIENT_ID="kakao-client-id"
KAKAO_CLIENT_SECRET="kakao-client-secret"

GOOGLE_CLIENT_ID="google-client-id"
GOOGLE_CLIENT_SECRET="google-client-secret"

NEXTAUTH_URL="web-server-url"
AUTH_URL="web-server-url"

# Meilisearch (optional for later)
MEILISEARCH_HOST=""
MEILISEARCH_API_KEY=""

# Upstash Redis (optional for later)
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# Payments
# Toss (test mode)
NEXT_PUBLIC_TOSS_CLIENT_KEY="public-toss-client-key"
TOSS_SECRET_KEY="toss-secret-key"
# Stripe (test)
STRIPE_SECRET_KEY="stripe-secret-key"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="public-stripe-publishable-key"

STRIPE_WEBHOOK_ENABLED="boolean-true/false"
# STRIPE_WEBHOOK_SECRET="stripe-webhook-secret" --> only enable if STRIPE_WEBHOOK_ENABLED=true

# Resend (Email Service)
RESEND_API_KEY="resend-api-key"
EMAIL_SERVER="resend-email-server"
EMAIL_FROM="email-from-who"